$grp-gray:       #BFC0C0;
$grp-gray-dark:  #232323;
$grp-blue-dark:  #2D3142;
$grp-blue-med:   #547AA5;
$grp-white:      #FFFFFF;
$grp-orange:     #EF8354;
$fontFamily: 'Lato', sans-serif;
$radColor: #15b0ed;
$speed: 0.15s;
$size: 18px;

body {
  background: #333333;
  font-size: 1.5em;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: $grp-blue-med;
  transition: all .2s ease;
  text-decoration: none;
  &:hover {
    color: $grp-white;
  }
}

section {
  width: 500px;
  background-color: $grp-gray-dark;
  padding: 4rem 2rem;
  margin: 0 auto;
  margin-top: 10vh;
  border: solid 4px $grp-blue-med;
  border-radius: 10%;

  form {
    width: 100%;
  }

  input {
    background-color: $grp-blue-dark;
    color: $grp-blue-med;
    padding: .7rem .5rem;
    margin: .3rem;
    border: 0;
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: .1rem;
    box-sizing: border-box;
    border-radius: 8px;
  }

  button {
    background: $grp-blue-med;
    color: $grp-blue-dark;
    border: 0;
    display: block;
    width: 100%;
    outline: none;
    padding: .7rem .5rem;
    margin-top: 2rem;
    border-radius: 8px;
    border: solid 2px transparent;
    &:hover {
      background-color: $grp-blue-dark;
      color: $grp-blue-med;
      border: solid 2px $grp-blue-med;
    }
  }

  select {
    border: solid thin white;
    background-color: $grp-blue-med;
    border-radius: 2px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0px 5px 75px;
  }

  .login-logo {
    text-align: center;
    color: $grp-blue-med;
  }

  .login-header {
    margin-bottom: 2rem;
    h5 {
      color: $grp-blue-med;
      text-align: center;
    }
  }

  .login-helper {
    text-align: right;
  }

  ::-webkit-input-placeholder {
    color:$grp-blue-med;
  }

  ::-moz-placeholder {
    color:$grp-blue-med;
  }

  :-moz-placeholder {
    color:$grp-blue-med;
  }

  :-ms-input-placeholder {
    color:$grp-blue-med;
  }

  ::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  ::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  :-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  :-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}






/* new stuffs */

fieldset {

  width: 60%;
  margin: auto auto 30px;
  padding: 1em 2em;
  margin-top: 5px;
  border-color: transparent;
  border-radius: 8px;
  background: $grp-blue-dark;//rgba(0,0,0,0.1);

  legend {
    margin-bottom: 5px;
    color: $grp-blue-med;

  }

}

input[type=radio] {

  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;

  + label {
    font-size: 15px;
    cursor: pointer;
    text-indent: 2.2em;
    line-height: 2em;
    color: $grp-gray;//rgba(255,255,255,0.5);
    display: block;
    position: relative;
    transition: $speed;

    > i {

      border-radius: $size;
      position: absolute;
      left: 0;
      top: 50%;
      width: $size;
      height: $size;
      margin-top: -$size/2;

      background: #050505;
      box-shadow:
        inset 1px 1px 1px rgba(0,0,0,0.08),
        1px 1px 1px rgba(255,255,255,0.03);

      &:after {

        content: "";
        position: absolute;
        border-radius: $size*2;
        background: #ccc;
        background: rgba(255,255,255,0.7);
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        margin-left: -$size/2;
        margin-top: -$size/2;
        opacity: 0;
        transform: scale(0.5);

      }

    }

  }

  &:hover {

    + label {

      color: rgba(255,255,255,1);

      > i:after {

        opacity: 1;

      }
    }
  }

  &:focus,
  &:active {

    + label {

      color: rgba(255,255,255,1);

      > i {

        box-shadow: 0 0 1px lighten($radColor,50%), 0 0 2px lighten($radColor,30%), 0 0 5px $radColor;

      }
    }
  }

  &:checked + label {

    color: $grp-blue-med;//rgba(255,255,255,1);

    > i:after {

      opacity: 1;
      border-radius: $size*5;
      background: $radColor;
      transform: scale(0.8);
      transition: all 0.2s cubic-bezier(0.555, -0.375, 0, 1.615);

    }
  }

  &:focus:checked + label,
  &:active:checked + label {

    color: $grp-blue-med;

  }

}

fieldset.inline {

  input[type=radio] {

    + label {

      display: inline-block;
      margin-right: 2em;

    }
  }
}



.lt-ie8 {

  input[type=radio] {

    position: static;
    width: auto; height: auto; opacity:1;

    + label {

      display: inline-block;
      text-indent: 0.3em;

      > i {

        display: none;

      }
    }
  }
}
